<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--  -->
    <link rel="stylesheet" href="./layout.css" />
    <title>Document</title>
  </head>
  <body>
    <!--  -->
    <header class="header">
      <div class="header-content">
        <h1 class="heading">Welcome Here!</h1>
        <p class="para">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, sint
          dolores perspiciatis expedita iste harum porro!
          <a href="" class="read-more">Read More</a>
        </p>
      </div>
    </header>
    <!--  -->
    <main class="main">
      <div class="sub-main">
        <h4>heading 1</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          voluptatum tenetur! Quae cum debitis officia obcaecati possimus
          suscipit delectus maiores alias provident praesentium, distinctio
          iure, soluta nisi totam.
        </p>
      </div>
      <div class="sub-main">
        <h4>heading 2</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          voluptatum tenetur! Quae cum debitis officia obcaecati possimus
          suscipit delectus maiores alias provident praesentium, distinctio
          iure, soluta nisi totam.
        </p>
      </div>
      <div class="sub-main">
        <h4>heading 3</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          voluptatum tenetur! Quae cum debitis officia obcaecati possimus
          suscipit delectus maiores alias provident praesentium, distinctio
          iure, soluta nisi totam.
        </p>
      </div>
    </main>
  </body>
</html>
